.ab-info {
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-block: 20px;
  margin-top: 30px;
}
.ab-info li {
  padding: 10px 40px;
}
.ab-info .text {
  text-transform: capitalize;
  font-size: 25px;
  color: var(--secand-color);
  margin-right: 20px;
}
.ab-info a {
  color: white;
}
/* ===========media===== */
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
  .ab-info .text {
    font-size: 20px;
    margin-right: 10px;
    max-width: 350px;
  }
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
